; dkms make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Patches +++++

projects[inline_entity_form][patch][] = "inline_entity_form-existing_entities-widget-1807120-21.patch" ; TODO add path to patch

